<h1>Latest Tweets</h1>
<%= link_to "Post new tweet", action: "new" %>
<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <p><%= link_to( tweet.text, tweet) %></p>
    </li>
  <% end %>
</ul>

<% if @user %>
  <%= link_to 'Logout', destroy_user_session_path, :method => :delete  %> 
<% end %>
<% if @user %>
  <%= link_to 'Account settings', edit_user_registration_path  %> 
<% end %>