<h1>New Tweet</h1>

<% if @tweet.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited
    this post from being saved:</h2>
  <ul>
  <% @tweet.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for :tweet, url: tweets_path do |f| %>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>