<%= link_to 'Home', tweets_path %>

<p>
  <strong>
    <% if @tweet.user %>
      <%= link_to '@' + @tweet.user.name, @tweet.user %> 
    <% end %>
    says:
  </strong>
  <span>
    <%= @tweet.text %>
  </span>
</p>

<% if @tweet.user && @user && (@user.id == @tweet.user.id) %>
  <%= link_to 'Delete', tweet_path(@tweet),
                      method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>