<%= link_to 'Home', tweets_path %>

<h1><%= @user.name %></h1>
<p>
  <span>Email:</span> <%= @user.email %>
</p>

<h3>Follows:</h3>
<% @user.followings.each do |follower| %>
  <p>
    <h4><% follower.name %></h4>
    <span>Email:</span> <%= follower.email %>
  </p> 
<% end %>